<h1 align="center" class="p-4" >Recipe Name: <%= @recipe.name.capitalize  %></h1>
<hr />
<div class="row">
    <div class="well col-8 offset-2 bg-light p-4">
        <h4 class="center description"><strong>Steps:</strong></h4>
        <hr />
        <%= simple_format(@recipe.description) %>
        <hr />
        <div class="well" style="float: right">
            <p class="center"><em>Created By: </em>  </p>
            <p class="center"><%= link_to Gravatar_for(@recipe.chef),recipes_path%> </p>
            <p class="center">
                <small><%=  @recipe.chef.chefname.capitalize %></small>
                <div style="float: right" > Created <%= time_ago_in_words(@recipe.created_at) %> ago </div>
            </p>    
        </div>    
        <%= link_to "Edit Recipe", edit_recipe_path(@recipe) , class:"btn  btn-xs mybtn  " %>
        <%= link_to 'Delete Recipe', recipe_path(@recipe) ,data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} ,class:"btn  btn-xs mybtn" %> 
        <%= link_to 'show all Recipe', recipes_path ,class:"btn  btn-xs mybtn" %> 

        <div>
     </div>  
    </div>
</div>